* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  margin: 30px 50px 0;
}

.book {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: 1 0;
  flex-basis: 0;
  flex-flow: column wrap;
  gap: 0 50px;
  height: 500px;
}

.book > img {
  height: 100%;
}

.book-selector {
  align-items: flex-start;
  display: flex;
}

.selector-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
  margin-left: 15px;
}

.selector-buttons > button {
  height: 50px;
  border-radius: 8px;
  border: 0px solid;
  box-shadow: 5px 5px rgba(128, 128, 128, 0.607);
  background-color: rgba(168, 234, 234, 0.46);
  cursor: pointer;
  margin-bottom: 15px;
}

.list-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
}

.list-buttons > button {
  height: 50px;
  width: 400px;
  border-radius: 8px;
  border: 0px solid;
  box-shadow: 5px 5px rgba(128, 128, 128, 0.607);
  background-color: rgba(168, 234, 234, 0.46);
  cursor: pointer;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  list-style: none;
  width: 100%;
}

.book-list > li {
  display: flex;
  flex: 0 1 32%;
  height: 100px;
}

li > .book {
  font-size: 70%;
  gap: 0 15px;
  height: 100px;
  overflow: hidden;
}
